<?xml version="1.0" encoding="UTF-8" ?>
    <widget
        id          = "com.todoapp"
        version     = "1.0.3" >
    <!-- versionCode is optional and Android only -->
    <name>Todo App</name>
    <description>
    A simple task manager built with js/ionic/cordova. 
    </description>

    <author href="https://twitter.com/Alephbreno" email="alephmelo@icloud.com">
    Aleph Melo
    </author>
    <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-maxSdkVersion" value="21" />
    <!--
      If you do not want any permissions to be added to your app, add the
      following tag to your config.xml; you will still have the INTERNET
      permission on your app, which PhoneGap requires.
    -->
    <!-- to enable individual permissions use the following examples -->
    <!--
    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
     -->
</widget>